


<div class="container">
  <h2 class="text-center">Contactez - nous</h2>
  <form class="form-horizontal" action="/action_page.php">
    <div class="form-group">
      <label class="control-label col-sm-2" for="fname">Nom de famille :</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="fname" placeholder="votre nom..." name="fname">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="lname">le prénom: :</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="lname" placeholder="votre prénom..." name="lname">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="titreMessage">Titre du Sujet:</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="titreMessage" placeholder="Enter email" name="titreMessage">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="Message">Sujet:</label>
      <div class="col-sm-10">
        <textarea  class="form-control" id="Message" placeholder="Enter email" name="Message" style="height:200px">
        </textarea></div>
    </div>
    <input type="submit" value="Envoyer" >
  </form>
</div>

